In [1]:
import pandas as pd
import numpy as np
import re
import seaborn as sns

In [2]:
dif_sta = {'TAM':6, 'GNB':21, 'NOR':26, 'KAN':31, 'BAL':18, 'WAS':15, 'NYJ':4, 'CIN':16, 'LAC':13, 'NWE':32, 'LAR':22,
           'MIN':29, 'IND':12, 'SEA':28, 'MIA':7, 'DEN':20, 'CAR':27, 'DAL':23, 'CHI':7, 'NYG':5, 'JAX':3, 'HOU':19,
           'OAK':9, 'PIT':30, 'ARI':17, 'ATL':24, 'BUF':10, 'CLE':1, 'PHI':25, 'DET':14, 'TEN':11, 'SFO':2}

In [3]:
dif_pass_def = {'TAM':7, 'GNB':21, 'NOR':4, 'KAN':2, 'BAL':28, 'WAS':18, 'NYJ':9, 'CIN':1, 'LAC':24, 'NWE':11, 'LAR':19,
           'MIN':30, 'IND':17, 'SEA':16, 'MIA':12, 'DEN':13, 'CAR':15, 'DAL':20, 'CHI':26, 'NYG':10, 'JAX':31, 'HOU':5,
           'OAK':14, 'PIT':23, 'ARI':29, 'ATL':6, 'BUF':1, 'CLE':8, 'PHI':3, 'DET':25, 'TEN':27, 'SFO':22}

In [53]:
pass_off_18 = {'TAM':3, 'GNB':20, 'NOR':12, 'KAN':1, 'BAL':26, 'WAS':28, 'NYJ':26, 'CIN':16, 'LAC':8, 'NWE':11, 'LAR':8,
           'MIN':10, 'IND':2, 'SEA':5, 'MIA':17, 'DEN':24, 'CAR':14, 'DAL':22, 'CHI':14, 'NYG':21, 'JAX':30, 'HOU':17,
           'OAK':24, 'PIT':5, 'ARI':30, 'ATL':3, 'BUF':32, 'CLE':11, 'PHI':11, 'DET':22, 'TEN':28, 'SFO':17}

In [54]:
pass_off_19 = {'TAM':18, 'GNB':18, 'NOR':12, 'KAN':3, 'BAL':1, 'WAS':3, 'NYJ':18, 'CIN':12, 'LAC':3, 'NWE':3, 'LAR':18,
           'MIN':18, 'IND':12, 'SEA':12, 'MIA':18, 'DEN':18, 'CAR':30, 'DAL':2, 'CHI':30, 'NYG':18, 'JAX':3, 'HOU':3,
           'OAK':18, 'PIT':30, 'ARI':12, 'ATL':12, 'BUF':18, 'CLE':18, 'PHI':3, 'DET':3, 'TEN':3, 'SFO':18}

In [4]:
def change_rank(x):
    return (-1*(x-32))+1

In [191]:
def clean_stats_qb(run_stats, dic_def, dic_off):
    run_stats = run_stats.rename({'Unnamed: 7': 'Where'}, axis=1)
    run_stats = run_stats[(run_stats['Pos'] == 'QB') & (run_stats['Att'] >= 10)]
    result = []
    points_home = []
    points_away = []
    for x in run_stats.Result:
        result.append(x[0])
        reg1 = re.findall(r'\d*[^-]', x)
        points_home.append(reg1[2])
        points_away.append(reg1[3])
    run_stats['Result'] = result
    run_stats['Points_Team'] = points_home
    run_stats['Points_Opp'] = points_away
    run_stats.Where.fillna('home', inplace=True)
    run_stats2 = run_stats.reset_index(drop=True)
    stadium = [] 
    for i, x in enumerate(run_stats2.Where):
        if x == 'home':
            stadium.append(1)
        else:
            stadium.append(0)
    run_stats2['Where'] = stadium
    dif_list = []
    for i, x in enumerate(run_stats2.Where):
        if x == 0:
            dif_list.append(dif_sta[run_stats2.Opp[i]]+32)
        else:
            dif_list.append(change_rank(dif_sta[run_stats2.Tm[i]]))
    run_stats2['Stad_Diff'] = dif_list
    run_stats3 = run_stats2.drop(['Lg', 'G#', 'Rk', 'Pos', 'Age', 'Y/A', 'Yds.1', 'Rate', 'Cmp', 'AY/A'], axis=1)
    run_stats3['Month'] = [x.month for x in run_stats3.Date]
    run_stats3['Month'] = run_stats3['Month'].map({9:'September', 10:'October', 11:'November', 12:'December'})
    run_stats3['Points_Team'] = pd.to_numeric(run_stats3.Points_Team, errors='coerce')
    run_stats3['Points_Opp'] = pd.to_numeric(run_stats3.Points_Opp, errors='coerce')
    run_stats3['Result'] = run_stats3.Result.map({'W':1, 'L':0, 'T':2})
    run_stats3['Opp'] = run_stats3['Opp'].map(dic_def)
    off = [change_rank(dic_off[x]) for x in run_stats3.Tm]
    run_stats3['Tm'] = off
    run_stats4 = run_stats3.set_index(['Date', 'Week', 'Player'])
    run_stats5 = pd.get_dummies(run_stats4)
    run_stats6 = run_stats5.drop(['Result', 'Points_Opp'], axis=1)
    return run_stats6

In [192]:
def clean_stats_qb19_w4(df1, w1):
    w1['Month_October'] = [0 for x in range(len(w1))]
    w1['Month_November'] = [0 for x in range(len(w1))]
    w1['Month_December'] = [0 for x in range(len(w1))]
    w1['Day_Sat'] = [0 for x in range(len(w1))]
    w1 = w1[list(df1.columns)]
    run = pd.concat([df1, w1], sort=False)
    return run

In [193]:
pass1 = pd.read_excel('../data/pass/sportsref_pass1_18.xls')
for x in range(1,12):
    c = pd.read_excel(f'../data/pass/sportsref_downloadp({x}).xls', skiprows=1)
    pass1 = pd.concat([pass1, c], ignore_index = True, sort=False)

In [194]:
passw1 = pd.read_excel('../data/pass/sportsref_downloadpred(1).xls', skiprows=1)

In [195]:
pass_stats1 = clean_stats_qb(pass1, dif_pass_def, pass_off_18)

In [196]:
pass_w1 = clean_stats_qb(passw1, dif_pass_def, pass_off_19)

In [197]:
pass_stats19 = clean_stats_qb19_w4(pass_stats1, pass_w1)

In [198]:
pass_stats19.columns

Index(['Tm', 'Where', 'Opp', 'Att', 'Cmp%', 'Yds', 'TD', 'Int', 'Sk',
       'Points_Team', 'Stad_Diff', 'Day_Mon', 'Day_Sat', 'Day_Sun', 'Day_Thu',
       'Month_December', 'Month_November', 'Month_October', 'Month_September'],
      dtype='object')

In [199]:
pass_stats1.columns

Index(['Tm', 'Where', 'Opp', 'Att', 'Cmp%', 'Yds', 'TD', 'Int', 'Sk',
       'Points_Team', 'Stad_Diff', 'Day_Mon', 'Day_Sat', 'Day_Sun', 'Day_Thu',
       'Month_December', 'Month_November', 'Month_October', 'Month_September'],
      dtype='object')

In [200]:
passw1_mod = pass_stats19

In [201]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [202]:
y = passw1_mod.Points_Team
X = passw1_mod.drop('Points_Team', axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y)
linreg = LinearRegression()
linreg.fit(X_train, y_train)
pred_rec = linreg.predict(X_test)
mse = mean_squared_error(y_test, pred_rec)
rmse = mse**(1/2)
mae = mean_absolute_error(y_test, pred_rec)
print('rmse: ', rmse, '\n', 'mae:', mae)

rmse:  6.164828963821639
 mae: 5.012405283803852

In [203]:
mse = mean_squared_error(y_test, pred_rec)
rmse = mse**(1/2)
mae = mean_absolute_error(y_test, pred_rec)
print('rmse: ', rmse, '\n', 'mae:', mae)

rmse:  6.164828963821639
 mae: 5.012405283803852

In [154]:
drew = passw1_mod.xs('Drew Brees', level='Player')

In [155]:
brees = pd.DataFrame(drew.describe().loc['mean', ['Att', 'Cmp%', 'Yds', 'TD', 'Int', 'Sk']]).T

In [156]:
brees

        Att       Cmp%      Yds     TD    Int     Sk
mean  33.25  74.333125  272.625  2.125  0.375  1.125

In [204]:
info = ['Drew Brees', 'NOR', 1, 'CAR', 'September', 'Sun']

In [205]:
passw1_mod.head(1)

,,,Tm,Where,Opp,Att,Cmp%,Yds,TD,Int,Sk,Points_Team,Stad_Diff,Day_Mon,Day_Sat,Day_Sun,Day_Thu,Month_December,Month_November,Month_October,Month_September
Date,Week,Player,,,,,,,,,,,,,,,,,,,
2018-09-09,1,Ryan Fitzpatrick,30,0,4,28,75.0,417,4,0,0,48,58,0,0,1,0,0,0,0,1

In [206]:
def pass_for_pred(info, passw1_mod):
    cols = ['Day_Mon', 'Day_Sat', 'Day_Sun', 'Day_Thu', 'Month_December', 'Month_November', 
            'Month_October', 'Month_September']
    drew = passw1_mod.xs(info[0], level='Player')
    brees = pd.DataFrame(drew.describe().loc['mean', ['Att', 'Cmp%', 'Yds', 'TD', 'Int', 'Sk']]).T
    brees['Tm'] = change_rank(pass_off_19[info[1]])
    brees['Where'] = info[2]
    brees['Opp'] = dif_pass_def[info[3]]
    if info[2] == 0:
        brees['Stad_Diff'] = dif_sta[info[3]]
    else:
        brees['Stad_Diff'] = dif_sta[info[1]]
    for x in cols:
        brees[x] = 0
    brees['Month_'+info[4]]=1
    brees['Day_'+info[5]]
    passw1_mod.drop('Points_Team', axis=1, inplace=True)
    brees = brees[list(passw1_mod.columns)]
    return brees

In [207]:
drewb = pass_for_pred(info, passw1_mod)

In [208]:
drewb

,Tm,Where,Opp,Att,Cmp%,Yds,TD,Int,Sk,Stad_Diff,Day_Mon,Day_Sat,Day_Sun,Day_Thu,Month_December,Month_November,Month_October,Month_September
mean,21,1,15,33.25,74.333125,272.625,2.125,0.375,1.125,26,0,0,0,0,0,0,0,1

In [187]:
passw1_mod.head(1)

,,,Tm,Where,Opp,Att,Cmp%,Yds,TD,Int,Sk,Stad_Diff,Day_Mon,Day_Sat,Day_Sun,Day_Thu,Month_December,Month_November,Month_October,Month_September
Date,Week,Player,,,,,,,,,,,,,,,,,,
2018-09-09,1,Ryan Fitzpatrick,30,0,4,28,75.0,417,4,0,0,58,0,0,1,0,0,0,0,1

In [209]:
brees_car = linreg.predict(drewb)

In [210]:
brees_car

array([26.6682992])