In [1]:
import pandas as pd
import numpy as np
import re
import seaborn as sns

In [37]:
run_stats = pd.read_excel('../data/run/sportsref_rus1_18.xls')

In [38]:
for x in range(1,12):
    c = pd.read_excel(f'../data/run/sportsref_download ({x}).xls', skiprows=1)
    run_stats = pd.concat([run_stats, c], ignore_index = True, sort=False)

In [7]:
run_stats.shape

(1857, 17)

In [8]:
run_stats.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Date', 'Lg', 'Tm', 'Unnamed: 7', 'Opp',
       'Result', 'G#', 'Week', 'Day', 'Att', 'Yds', 'Y/A', 'TD'],
      dtype='object')

In [10]:
run_stats.Week.min()

1

In [11]:
run_stats.head()

,Rk,Player,Pos,Age,Date,Lg,Tm,Unnamed: 7,Opp,Result,G#,Week,Day,Att,Yds,Y/A,TD
0,1,James Conner,RB,23.127,2018-09-09,NFL,PIT,@,CLE,T 21-21,1,1,Sun,31,135,4.35,2
1,2,Todd Gurley,RB,24.038,2018-09-10,NFL,LAR,@,OAK,W 33-13,1,1,Mon,20,108,5.40,0
2,3,Saquon Barkley,RB,21.212,2018-09-09,NFL,NYG,NaN,JAX,L 15-20,1,1,Sun,18,106,5.89,1
3,4,Isaiah Crowell,RB,25.245,2018-09-10,NFL,NYJ,@,DET,W 48-17,1,1,Mon,10,102,10.20,2
4,5,Lamar Miller,RB,27.137,2018-09-09,NFL,HOU,@,NWE,L 20-27,1,1,Sun,20,98,4.90,0

In [39]:
run_stats = run_stats.rename({'Unnamed: 7': 'Where'}, axis=1)

In [40]:
run_stats.Pos.unique()

array(['RB', 'HB', 'QB', 'WR', 'FB', 'P', 'TE', 'LCB', 'CB', 'DE', 'S',
       'SS'], dtype=object)

In [41]:
run_stats = run_stats[(run_stats['Yds'] >= 10) & (run_stats['Att'] >= 3)]

In [42]:
run_stats.Pos.unique()

array(['RB', 'HB', 'QB', 'WR', 'TE', 'FB'], dtype=object)

In [43]:
result = []
points_home = []
points_away = []
for x in run_stats.Result:
    result.append(x[0])
    reg1 = re.findall(r'\d*[^-]', x)
    points_home.append(reg1[2])
    points_away.append(reg1[3])

In [45]:
run_stats['Result'] = result
run_stats['Points_Team'] = points_home
run_stats['Points_Opp'] = points_away

In [46]:
run_stats.head()

,Rk,Player,Pos,Age,Date,Lg,Tm,Where,Opp,Result,G#,Week,Day,Att,Yds,Y/A,TD,Points_Team,Points_Opp
0,1,James Conner,RB,23.127,2018-09-09,NFL,PIT,@,CLE,T,1,1,Sun,31,135,4.35,2,21,21
1,2,Todd Gurley,RB,24.038,2018-09-10,NFL,LAR,@,OAK,W,1,1,Mon,20,108,5.40,0,33,13
2,3,Saquon Barkley,RB,21.212,2018-09-09,NFL,NYG,NaN,JAX,L,1,1,Sun,18,106,5.89,1,15,20
3,4,Isaiah Crowell,RB,25.245,2018-09-10,NFL,NYJ,@,DET,W,1,1,Mon,10,102,10.20,2,48,17
4,5,Lamar Miller,RB,27.137,2018-09-09,NFL,HOU,@,NWE,L,1,1,Sun,20,98,4.90,0,20,27